body{
    font-family: Inter, Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('assets/city3.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px -50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

html{
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
    margin: 0;
    &:hover{
        opacity: 0.7;
    }
}

button{
    cursor: pointer;
    transition: 0.2s ease;
    border: none;
    outline: none;
    &:hover{
        opacity: 0.8;
    }
}

@media screen and (min-width: 800px){

    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        background: rgba(white, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        backdrop-filter: blur(10px);
        .navbtn{
            color: rgba(black, 0.5);
            font-size: 18px;
            font-weight: 600;
            margin: 15px;
            transition: 0.2s ease;
            &:hover{
                color: black;
            }
        }
    }

    #banner{
        position: absolute;
        top: 0;
        left: 1.5vw;
        width: 97vw;
        height: 85vh;
        border-radius: 10px;
        background: linear-gradient(to top, rgba(black, 0.4), rgba(black, 0), rgba(black, 0));
        margin: auto;

        .header{
            position: absolute;
            bottom: 40px;
            left: 30px;
            color: white;

            h1{
                font-size: 50px;
                font-weight: 900;
                margin: 0;
            }
            h2{
                font-size: 24px;
                font-weight: 300;
                margin: 0;
                margin-top: 10px;
                text-shadow: 0px 0px 10px black;
            }
        }
    }

    .anchor{
        width: 100px;
        margin-top: -20px;
    }

    .section{
        width: 94vw;
        padding: 20px;
        color: black;
        margin: 1.5vw;
        margin-bottom: 2vw;
        background: rgba(white, 0.9);
        border-radius: 10px;
        backdrop-filter: blur(15px);
        transform: translateY(50px);

        p{
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            margin: 0;
        }

        .text{
            margin: 1vw;
            margin-top: 0;
            p{
                margin-bottom: 20px;
            }
        }

        .image{
            background: rgba(black, 0);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 5px;
        }

        .title{
            font-size: 36px;
            font-weight: 900;
            margin: 0;
            margin-top: -20px;
            margin-bottom: 15px;
            padding: 10px;
            padding-top: 25px;
        }

        .content{
            display: flex;
            justify-content: center;
            width: 94vw;
            margin: auto;
        }

        .row{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 94vw;
            margin: auto;
        }

        .shelf{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 94vw;
            margin-top: 20px;
            .card{
                flex: 1 1 20vw;
            }

            .image{
                width: 300px;
                max-width: 20vw;
                margin: 10px;
            }
        }

        .profile{
            margin: 1vw;
            margin-right: 10px;
            .image{
                width: 300px;
                height: 300px;
            }
            .carousel{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                margin-top: 5px;
                .icon{
                    width: 50px;
                    height: 50px;
                    margin: 5px;
                    border-radius: 5px;
                }
            }
        }

        .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            min-width: 390px;
            margin-top: 10px;
            margin-right: 10px;
            width: 94vw;
            .image{
                width: 180px;
                height: 230px;
                margin: 5px;
            }
        }

        .blurb{
            margin: 20px;
            margin-top: 0;
            margin-bottom: 30px;
            p{
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .card{
            flex: 1;
            width: 300px;
            max-width: 30vw;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .image{
                width: 300px;
                max-width: 90%;
                height: 200px;
                margin: auto;
                margin-bottom: 10px;
            }
            h1{
                width: 300px;
                max-width: 90%;
                font-size: 18px;
                font-weight: 600;
                margin: auto;
                margin-top: 5px;
            }
            p{
                width: 300px;
                max-width: 90%;
                font-size: 15px;
                line-height: 18px;
                margin: auto;
                margin-top: 10px;
                padding-bottom: 10px;
            }
            button{
                padding: 7px;
                padding-left: 15px;
                padding-right: 15px;
                background: black;
                color: white;
                width: 100%;
                margin-top: -5px;
                margin-bottom: 10px;
                border-radius: 5px;
                &:hover{
                    background: black;
                }
            }
            &.vertical{
                width: 15vw;
                transition: 0.2s ease;
                .image{
                    width: 200px;
                    height: 270px;
                    max-width: 13vw;
                }
                &.big{
                    width: 20vw;
                    margin-bottom: 20px;
                    .image{
                        width: 250px;
                        height: 350px;
                        max-width: 20vw;
                    }
                }
            }
            &.podcast{
                width: 20vw;
                .image{
                    width: 250px;
                    height: 250px;
                }
            }
            &.mini{
                width: 15vw;
                .image{
                    background-color: white;
                    width: 200px;
                    height: 90px;
                    max-width: 13vw;
                }
            }
        }

        .form{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            textarea{
                width: 90vw;
                height: 100px;
                outline: none;
                border: none;
                padding: 20px;
                border-radius: 10px;
                font-size: 16px;
                font-family: Inter, Roboto, sans-serif;
                resize: none;
                margin-left: 10px;
                background: rgba(white, 0.8);
            }

            button{
                padding: 10px;
                background: #0074ff;
                border: none;
                color: white;
                border-radius: 5px;
                margin: 10px;
            }
        }



        &.right{
             .grid{
                 margin-left: 10px;
             }
          }

        &.first{
            margin-top: 75vh;
        }
        &.footer{
            margin-top: 1vw;
            margin-bottom: 100px;
        }
    }
}


@media screen and (max-width: 800px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
        background: rgba(white, 0.7);
        backdrop-filter: blur(10px);
        #mast{
            font-size: 24px;
            font-weight: 300;
            margin-left: 10px;
        }
        #menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            width: 40px;
            height: 40px;
            .bar{
                width: 30px;
                height: 2px;
                margin: 3px;
                background: black;
            }
        }
    }

    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(white, 0.7);
        z-index: 5;
        transform: translateX(100vw);
        transition: 0.2s ease;
        backdrop-filter: blur(15px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .navbtn{
            color: rgba(black, 1);
            font-size: 18px;
            font-weight: 400;
            margin: 15px;
            transition: 0.2s ease;
            &:hover{
                color: black;
            }
        }

        &.active{
            transform: translateX(0);
        }
    }

    #banner{
        position: absolute;
        top: 9vh;
        width: 97vw;
        height: 60vh;
        background: linear-gradient(to top, rgba(black, 0.8), rgba(black, 0), rgba(black, 0));
        margin: auto;

        .header{
            position: absolute;
            width: 90vw;
            bottom: 5vw;
            left: 5vw;
            color: white;

            h1{
                font-size: 40px;
                line-height: 40px;
                font-weight: 900;
                margin: 0;
            }
            h2{
                font-size: 18px;
                line-height: 20px;
                font-weight: 300;
                margin: 0;
                margin-top: 10px;
                width: 80vw;
            }
        }
    }

    .section{
        width: 90vw;
        padding: 3vw;
        color: black;
        margin: 1.5vw;
        margin-bottom: 2vw;
        background: rgba(white, 0.9);
        border: 1px solid white;
        backdrop-filter: blur(15px);
        transform: translateY(50px);

        .text{
            margin: 1vw;
        }

        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
        }

        button{
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background: black;
            color: white;
            width: 100%;
            margin-top: -5px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-size: 18px;
            &:hover{
                background: black;
            }
        }

        .image{
            background: rgba(black, 0);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .title{
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            margin-top: -20px;

            padding: 5px;
            padding-top: 25px;
        }

        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        .shelf{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .image{
                width: 80vw;
                margin: 1vw;
            }
        }

        .profile{
            margin: 0;
            margin-top: 20px;
            margin-right: 30px;
            width: 90vw;
            .image{
                width: 90vw;
                height: 90vw;
            }
            .carousel{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20vw;
                margin-top: 1vw;
                .icon{
                    width: 15vw;
                    height: 15vw;
                    margin: 2vw;
                    border-radius: 1vw;
                }
            }
        }

        .grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            width: 90vw;
            margin: auto;
            margin-top: 3vw;
            .image{
                border: 1px solid white;
                width: 40vw;
                height: 55vw;
                margin: 2vw;
            }
        }

        .blurb{
            margin: 1vw;
            margin-top: 3vw;
            margin-bottom: 5vw;

        }

        .card{
            width: 90vw;
            margin: 0;
            margin-bottom: 3vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            .image{
                width: 80vw;
                height: 50vw;
                margin: auto;
                margin-bottom: 10px;
                border: 1px solid rgba(black, 0.5);
            }
            h1{
                width: 80vw;
                font-size: 18px;
                font-weight: 600;
                margin: auto;
            }
            p{
                font-size: 15px;
                line-height: 18px;
                width: 80vw;
                margin: auto;
                margin-top: 10px;
                padding-bottom: 10px;
            }
            &.podcast{
                width: 90vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 3vw;
                .image{
                    width: 50vw;
                    height: 50vw;
                }
            }
            &.vertical{
                width: 40vw;
                margin: 2vw;
                margin-top: 0;
                margin-bottom: 0;
                .image{
                    border: 1px solid black;
                    width: 40vw;
                    height: 60vw;
                }
            }
            &.mini{
                width: 40vw;
                margin: 2vw;
                margin-top: 0;
                margin-bottom: 0;
                background-size: cover;
                .image{
                    background: white;
                    background-size: cover;
                    background-position: center center;
                    border: 1px solid black;
                    width: 40vw;
                    height: 20vw;
                }
            }
        }

        .form{
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            textarea{
                width: 80vw;
                height: 100px;
                outline: none;
                border: none;
                padding: 3vw;
                font-size: 15px;
                font-family: Inter, Roboto, sans-serif;
                resize: none;
                margin: auto;
                border: 1px solid black;
            }

            button{
                margin-top: 2vw;
            }
        }

        &.right{
            .grid{
                margin-top: 0;
            }
        }

        &.first{
            margin-top: calc(70vh - 50px);
        }

        &.footer{
            text-align: center;
        }
    }

}
