body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("assets/nyc-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px -200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

a {
  color: black;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 800px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  #nav .navbtn {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #nav .navbtn:hover {
    color: black;
  }
  #banner {
    position: absolute;
    top: 0;
    left: 1.5vw;
    width: 97vw;
    height: 500px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin: auto;
  }
  #banner .header {
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
  }
  #banner .header h1 {
    font-size: 50px;
    font-weight: 900;
    margin: 0;
  }
  #banner .header h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    text-shadow: 0px 0px 10px black;
  }
  .anchor {
    width: 100px;
    margin-top: -20px;
  }
  .section {
    width: 94vw;
    padding: 20px;
    color: black;
    margin: 1.5vw;
    margin-bottom: 2vw;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .section p {
    font-family: Arial, Roboto, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
  .section .text {
    margin: 1vw;
    margin-top: 0;
  }
  .section .image {
    background: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
  }
  .section .title {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    margin-top: -20px;
    padding: 10px;
    padding-top: 25px;
  }
  .section .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 94vw;
    margin: auto;
  }
  .section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 94vw;
    margin: auto;
    margin-top: 20px;
  }
  .section .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 94vw;
    margin-top: 20px;
  }
  .section .shelf .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20vw;
            flex: 1 1 20vw;
  }
  .section .profile {
    margin: 1vw;
    margin-right: 10px;
  }
  .section .profile .image {
    width: 300px;
    height: 90%;
  }
  .section .profile .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    border: 1px solid black;
  }
  .section .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    min-width: 390px;
    margin-right: 10px;
    width: 94vw;
  }
  .section .grid .image {
    width: 180px;
    height: 250px;
    margin: 5px;
  }
  .section .blurb {
    margin: 1vw;
    padding-bottom: 20px;
  }
  .section .card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 23vw;
    margin: 0;
  }
  .section .card .image {
    width: 95%;
    height: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto;
    margin-bottom: 10px;
  }
  .section .card h1 {
    width: 95%;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-top: 15px;
  }
  .section .card p {
    width: 95%;
    font-size: 15px;
    line-height: 18px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .section .card.vertical {
    width: 15vw;
    margin: 10px;
  }
  .section .card.vertical .image {
    width: 200px;
    height: 280px;
    max-width: 13vw;
  }
  .section textarea {
    width: 90vw;
    height: 100px;
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    resize: none;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.8);
  }
  .section.right .grid {
    margin-left: 10px;
  }
  .section.first {
    margin-top: 500px;
  }
}

@media screen and (max-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    background-position: 0px -100px;
  }
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 4;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  #nav .navbtn {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #nav .navbtn:hover {
    color: black;
  }
  #banner {
    position: absolute;
    top: 50px;
    width: 100vw;
    height: 60vh;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin: auto;
  }
  #banner .header {
    position: absolute;
    width: 94vw;
    bottom: 5vw;
    left: 5vw;
    color: white;
  }
  #banner .header h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    margin: 0;
  }
  #banner .header h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    width: 80vw;
  }
  .section {
    width: 90vw;
    padding: 3vw;
    color: black;
    margin: 1.5vw;
    margin-bottom: 2vw;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  .section .text {
    margin: 1vw;
  }
  .section p {
    font-family: Arial, Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }
  .section .image {
    background: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .section .title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: -20px;
    padding: 5px;
    padding-top: 25px;
  }
  .section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .section .shelf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .section .profile {
    margin: 0;
    margin-top: 20px;
    margin-right: 30px;
  }
  .section .profile .image {
    width: 88vw;
    height: 88vw;
  }
  .section .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90vw;
    margin: auto;
    margin-top: 3vw;
  }
  .section .grid .image {
    border: 1px solid white;
    width: 40vw;
    height: 55vw;
    margin: 2vw;
  }
  .section .blurb {
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
  }
  .section .card {
    width: 90vw;
    margin: 0;
    margin-top: 0px;
  }
  .section .card .image {
    width: 80vw;
    height: 50vw;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .section .card h1 {
    width: 80vw;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-top: 15px;
  }
  .section .card p {
    font-size: 15px;
    line-height: 18px;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .section .card.vertical {
    width: 40vw;
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section .card.vertical .image {
    border: 1px solid black;
    width: 40vw;
    height: 60vw;
  }
  .section .form {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .form textarea {
    width: 80vw;
    height: 100px;
    outline: none;
    border: none;
    padding: 3vw;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    resize: none;
    margin: auto;
    border: 1px solid black;
  }
  .section .form button {
    margin-top: 2vw;
  }
  .section.right .grid {
    margin-top: 0;
  }
  .section.first {
    margin-top: 70vh;
  }
  .section.footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */